/* ----> Fonts <---- */

@font-face {
  font-family: "Coda";
  src: url(../font/Coda_Caption/CodaCaption-ExtraBold.ttf);
}

@font-face {
  font-family: "Lato";
  src: url(../font/Lato/Lato-Regular.ttf), url(../font/Lato/Lato-Black.ttf),
    url(../font/Lato/Lato-BlackItalic.ttf), url(../font/Lato/Lato-Bold.ttf),
    url(../font/Lato/Lato-BoldItalic.ttf), url(../font/Lato/Lato-BoldItalic.ttf),
    url(../font/Lato/Lato-Hairline.ttf),
    url(../font/Lato/Lato-HairlineItalic.ttf), url(../font/Lato/Lato-Italic.ttf);
}

/* ----> Global <---- */

* {
  box-sizing: border-box;
  margin: 0;
}

header {
  width: 100%;
  height: 65px;
  background-color: #323232;
  display: flex;
  z-index: 3;
  justify-content: center;
  position: fixed;
  top: 0;
}

.search-box {
  display: flex;
  flex-direction: row;
  margin: 60px 20px 20px 20px;
}

.main-menu {
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.main-menu li:not(:last-child) {
  margin-right: 25px;
}

.main-menu li a {
  font-family: "Lato";
  color: white;
  text-decoration: none;
}

.main-menu li a:hover {
  color: #2eb398;
}

.clean-underline {
  text-decoration: none;
}

.clean-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.clear-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  outline: none;
}

.add-line-btn {
  display: block;
  padding: 10px;
  border: 2px solid #c2c2c2;
  background-color: #5856e4;
  border-radius: 10px;
}

.down-btn {
  display: block;
  padding: 10px;
  border: 2px solid #c2c2c2;
  background-color: #df7732;
  border-radius: 10px;
}

.down-btn1 {
  margin: 10px;
  text-decoration: none;
  padding: 15px;
  border: 2px solid black;
  border-radius: 12px;
  font-family: "Lato";
  font-size: 16px;
  background: #2db398;
  display: block;
  width: 30%;
  text-align: center;
  margin: 0 auto;
}

.gallery-items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
  flex-direction: column;
}

.gallery-container {
  margin: 0 auto;
  width: 80%;
  height: auto;
  background: #ffffff;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}

.meme-generator {
  display: none;
}

.meme-generator.open {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 25px 0;
  flex-direction: row;
}

.choose-img {
  padding: 15px;
  display: flex;
  background: lightgray;
  font-size: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid black;
  border-radius: 12px;
  text-shadow: 2px 2px black;
  margin-bottom: 20px;
}

.choose-img a {
  text-decoration: none;
  color: white;
}

.actions {
  width: 100%;
  border: 2px red solid;
}

.canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.gallery-container .img-wrapper img {
  object-fit: cover;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.tags-bar {
  display: block;
  padding: 30px;
  width: 70%;
  border: 2px solid lightgray;
  border-radius: 12px;
  margin-bottom: 20px;
}

.tag {
  cursor: pointer;
  transition: all 0.4s;
}

.devs-team {
  width: 100%;
  height: auto;
  background-color: #2eb398;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.get-in-touch {
  width: 100vw;
  height: 565px;
  background-color: #323232;
}

footer {
  width: 100%;
  height: auto;
  background-color: #222222;
  text-align: center;
  padding: 10px;
  color: white;
}

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}

.close {
  background: #606061;
  color: #ffffff;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover {
  background: #00d9ff;
}

.btn-save-url {
  display: block;
  width: 200px;
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
  color: white;
  background: #2db398;
}

.personal {
  margin: 20px 0;
  text-align: center;
  padding: 20px;
  border: 2px solid black;
  border-radius: 12px;
  width: 40%;
}

.personal img {
  border-radius: 50%;
  max-width: 200px;
  height: auto;
}

.hexagon {
  position: relative;
  width: 220px;
  height: 127.02px;
  margin: 63.51px 0;
  background-image: url(http://csshexagon.com/img/meow.jpg);
  background-size: auto 254.0341px;
  background-position: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}

.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 155.56px;
  height: 155.56px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 32.22px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}

/*counter transform the bg image on the caps*/
.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
  width: 220px;
  height: 127.01705922171767px;
  -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-63.5085px);
  -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-63.5085px);
  transform: rotate(45deg) scaleY(1.7321) translateY(-63.5085px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.hexTop {
  top: -77.7817px;
}

.hexTop:after {
  background-position: center top;
}

.hexBottom {
  bottom: -77.7817px;
}

.hexBottom:after {
  background-position: center bottom;
}

.hexagon:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 220px;
  height: 127.0171px;
  z-index: 2;
  background: inherit;
}

/* ----> Media <---- */

@media (max-width: 1024px) {
  .gallery-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .devs-team {
    flex-direction: column;
  }
}

@media (max-width: 750px) {
  .gallery-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .gallery-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
