/* ----> Fonts <---- */

@font-face {
    font-family: "Coda";
    src: url(../font/Coda_Caption/CodaCaption-ExtraBold.ttf);
}

@font-face {
    font-family: "Lato";
    src: url(../font/Lato/Lato-Regular.ttf), url(../font/Lato/Lato-Black.ttf), url(../font/Lato/Lato-BlackItalic.ttf), url(../font/Lato/Lato-Bold.ttf), url(../font/Lato/Lato-BoldItalic.ttf), url(../font/Lato/Lato-BoldItalic.ttf), url(../font/Lato/Lato-Hairline.ttf), url(../font/Lato/Lato-HairlineItalic.ttf), url(../font/Lato/Lato-Italic.ttf);
}

/* ----> Global <---- */

* {
    box-sizing: border-box;
    margin: 0;
}

header {
    width: 100%;
    height: 65px;
    background-color: #323232;
    display: flex;
    justify-content: center;
}

.main-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-menu li:not(:last-child) {
    margin-right: 25px;
}

.main-menu li a {
    font-family: "Lato";
    color: white;
    text-decoration: none;
}

/* .container {
    width: 940px;
    margin: 0 auto;
} */

.clean-underline {
    text-decoration: none;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.clear-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    outline: none;
}
.add-line-btn {
    display: block;
    padding:10px;
    border: 2px solid #c2c2c2;
    background-color: #5856e4;
    border-radius: 10px;
}
.down-btn {
    display: block;
    padding:10px;
    border: 2px solid #c2c2c2;
    background-color: #df7732;
    border-radius: 10px;

}

.down-btn1 {
    margin: 10px;
    text-decoration: none;
    padding: 15px;
    border: 2px solid black;
    border-radius: 12px;
    font-family: "Lato";
    font-size: 16px;
    background: #2db398;
    display: block;
    width: 30%;
    text-align: center;
    margin: 0 auto;
}

.gallery-items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
    flex-direction: column;
}

.gallery-container {
    margin: 0 auto;
    width: 80%;
    height: auto;
    background: #ffffff;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: 70px;
    grid-gap: 20px;
}

.meme-generator {
    display: none;
}

.meme-generator.open {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 25px 0;
    flex-direction: row;
}

.choose-img {
    display: flex;
    background: lightgray;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid black;
    border-radius: 12px;
    text-shadow: 2px 2px black;
    margin-bottom: 20px;
}

.choose-img a {
    text-decoration: none;
    color: white;
}

.actions {
    width: 100%;
    border: 2px red solid;
}

.canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}




.gallery-container .img-wrapper {
    grid-area: span 3 / span 3;
    overflow: hidden;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
}

.tags-bar {
    display: block;
    padding: 30px;
}

.tags {
    font-size: 6px;
}

.devs-team {
    width: 100%;
    height: 330px;
    background-color: #2eb398;
}

.get-in-touch {
    width: 100%;
    height: 565px;
    background-color: #323232;
}

footer {
    width: 100%;
    height: 45px;
    background-color: #222222;
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

.btn-save-url {
    display: block;
    width: 200px;
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    color: white;
    background: #2db398;

}